


{% extends "pages/base.html" %}

{% comment %} {% load static %} {% endcomment %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block content %}


{% comment %} <div class='container'> {% endcomment %}
   
    <h1 style='margin-top: 5rem'>  {{user.username}}'s profile </h1>

{% comment %} </div> {% endcomment %}
        <div class='container' style='margin-bottom: 15rem; '>
            <strong>Username:</strong> {{ user_profile.username }}
   
    <div class="profile-field">
        <strong>First Name:</strong> {{ user_profile.first_name }}
    </div>
    <div class="profile-field">
        <strong>Last Name:</strong> {{ user_profile.last_name }}
    </div>
    <div class="profile-field">
        <strong>Email:</strong> {{ user_profile.email }}
    </div>

    <div class="profile-actions">
        <a href="{% url 'profile_update' %}">Update Profile</a>
        <a href="{% url 'profile_delete' %}">Delete Profile</a>
    </div>
</div>
 </div>
{% comment %} <h3> {{object.firstname}} </h3> {% endcomment %}
{% comment %} <h3> {{user_list.firstname}} </h3>
<h3> {{user_detail.lastname}} </h3>
<h3> {{user_detail.email}} </h3>
<h3> {{user_detail.email}} </h3> {% endcomment %}


</div>

{% endblock content %}






