{% extends "pages/base.html" %}
{% load static %}

<link rel='stylesheet' href="{% static "pages/home.css" %}">


{% block content %}

<div class="container" >
    <h1 style"text-align:center;">Welcome to the Home Page</h1>
</div>



<div class='container'>
    <div class='row'>
{% comment %} {% for card in "123" %} {% endcomment %}
{% for product in products %}

<div class="card" style="width: 18rem; margin-right: 1rem; box-shadow: 0 0 0.7rem grey; ">
    <img src="{% static 'pages/images/'|add:'product.image' %}" class="card-img-top home" alt="..."/>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}.</p>
      <a href="{% url 'home_details' product.id %}" class="btn btn-success view">View Details</a>
      <a href="{% url 'delete' product.id %}" class="btn btn-danger view">Delete</a>
    </div>
  </div>

{% endfor %}

</div>
</div>

{% endblock content %}
