{% extends "pages/base.html" %}
{% load static %}

<link rel='stylesheet' href="{% static "pages/home.css" %}">


{% block content %}

<div class="container" style='margin-top: 6.5rem'>
    <h1 style"text-align:center;">Welcome to the Home Page</h1>

    <form method="GET" action="{% url 'home' %}">
          <div class="input-group mb-3">
{% comment %} name='q' so we send the search query as a parameter to GET request {% endcomment %}
              <input type="text" class="form-control" name="q" placeholder="Search for products by name">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Search</button>
              </div>
          </div>
  </form>
</div>



<div class='container' style='margin-top: 100px; margin-bottom: 300px'>
    <div class='row' style='margin-bottom: 20px; text-align: center' >
{% comment %} {% for card in "123" %} {% endcomment %}
{% for product in products %}

<div class="card" style="width: 18rem; margin-right: 0.5rem; margin-left: 0.5rem;  box-shadow: 0 0 0.7rem grey; margin-bottom: 1rem; ">
    <img src="{% static 'pages/images/'|add:product.image %}" class="card-img-top home" alt="..."/>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}.</p>
      <a href="{% url 'home_details' product.id %}" class="btn btn-success view">View Details</a>
      <a href="{% url 'delete' product.id %}" class="btn btn-danger view">Delete</a>
    </div>
  </div>

{% endfor %}

</div>
</div>

{% endblock content %}
