{% extends "pages/base.html" %}
{% load static %}


{% block content %}
 
<br>
<br>
<br>
<br>
  <div class="container">

   
   
   
  
    <table class="table ">
      <tr style=""> 
      
        <th class="">Products Of This Category:  </th> 
        {% comment %} <th class="">Category Description :</th> {% endcomment %}
        <th class="">Images</th>
        {% comment %} <th class="">products of this category :</th> {% endcomment %}
      </tr>

     
 {% for product in  products %}


      <tr>
        
        <td><i> {{ product.name}} </i></td>
        {% comment %} <td>{{product.description}} </td> {% endcomment %}
        {% comment %} <td>{{product.image}} </td> {% endcomment %}
        {% comment %} <td>{{product.get_image_url}} </td> {% endcomment %}
        <td><img src="{{product.get_image_url}}" width="100" height="100"></td>
        {% comment %} <td> </td> {% endcomment %}
      </tr>
 {% endfor %}

    </table>
  </div>
 
{% endblock content %}