{% extends "pages/base.html" %}
{% load static %}



{% comment %} ---------------------------- {% endcomment %}


{% block content %}
<br>
<br>
<br>
<div class='container' >
<h1>categories</h1> <br> <br>
<table class="table" style='box-shadow:0 0 3px'>
    <tr>
      
        <th>Name</th>
        <th>Image</th>
        <th>Show</th>
      
    </tr>
    {% comment %} {% for i in category %} {% endcomment %}
    {% comment %} {{ i.id }} {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
    {% comment %} <td><a href="{% url 'categories details' i.id %}" class="btn btn-dark">Show Details</a></td>
    <td><a href="" class="btn btn-danger">Delete</a></td> {% endcomment %}

    {% for i in category %}
    {% comment %} {{ i.id }} {% endcomment %}
    <tr>
        
        <td><i>{{i.name}}</i></td>
        <td><img src="{{i.get_image_url}}" width="100" height="100"></td>
        <td><a href="{% url 'categories details' i.id %}" class="btn btn-success" style='background-color:#2e68dd8f'>Show Items</a></td>
    </tr>
    {% comment %} {{ i.id }} {% endcomment %}
    {% endfor %}
</table>
</div>
{% endblock content %}
